apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:{{.PrometheusPort}}
    isDefault: true
  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger:{{.JaegerPort}}
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:{{.LokiPort}}
