name: Docs

on:
  workflow_call:

permissions:
  contents: read

jobs:
  docs:
    name: CLI Docs Check
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version-file: go.mod

      - name: Check CLI docs freshness
        run: make docs-check
