name: Licenses

on:
  workflow_call:

permissions:
  contents: read

jobs:
  licenses:
    name: License Check
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version-file: go.mod

      - name: Check NOTICE freshness
        run: make licenses-check
